
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<section class="general-section">
  <h1>Ümumi Bölmə</h1>

  <div class="info-box">
  İKTA Azərbaycanın rəqəmsal transformasiyasında mühüm rol oynayan qurumdur. Agentliyin fəaliyyəti telekommunikasiya xidmətlərinin keyfiyyətinin yaxşılaşdırılmasına, istehlakçı hüquqlarının qorunmasına və rəqabət qabiliyyətli bazar mühitinin yaradılmasına yönəlib. İnnovasiyaların sürətli tətbiqi və rəqəmsal infrastrukturun gücləndirilməsi İKTAnın prioritet istiqamətləridir.
  /n Daha ətraflı məlumat üçün İKTAnın rəsmi saytını https://icta.az/ ziyarət edə bilərsiniz.
  </div>

  <div class="accordion">
    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
        <span>Görülmüş işlər</span>
        <i class="icon fas fa-chevron-right"></i>
      </div>
      <div class="accordion-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis nulla nisl, pretium malesuada lectus feugiat vel. Vestibulum vulputate massa ac consequat scelerisque. Nunc sed purus nulla. Quisque vel auctor lacus. Sed nibh lacus, interdum sed libero eu, posuere lobortis ligula. Quisque fermentum porttitor odio, et molestie ligula tempor nec. Etiam tristique ac odio vitae scelerisque. In faucibus volutpat mattis. Nunc consectetur libero id pretium imperdiet. Pellentesque venenatis consectetur luctus. Donec ac tellus nec mauris ullamcorper aliquam sit amet scelerisque tortor. Praesent lobortis elit in nulla volutpat feugiat.
       </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
        <span>Görülən işlər</span>
        <i class="icon fas fa-chevron-right"></i>
      </div>
      <div class="accordion-body">
       Quisque sit amet eleifend est, ac placerat elit. Aliquam sapien mauris, mollis sed orci non, tincidunt pharetra magna. Vestibulum viverra fermentum fringilla. Curabitur elementum convallis sem, a condimentum nibh aliquam non. Cras id elit orci. Pellentesque vel porttitor neque, ac volutpat enim. Aenean ac porta tellus, a dapibus elit. Mauris facilisis mauris vitae faucibus luctus. Fusce eleifend rutrum lectus sed pharetra.
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
        <span>Planlanmış işlər</span>
        <i class="icon fas fa-chevron-right"></i>
      </div>
      <div class="accordion-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet tellus sem. Integer eu metus posuere, lobortis leo a, ultrices augue. Aliquam tortor urna, ullamcorper vel tellus eget, interdum accumsan leo. Phasellus vehicula faucibus metus, sed condimentum sapien gravida euismod. Cras sed gravida magna, nec ultrices erat. Nunc aliquam imperdiet leo et iaculis. Nullam ultricies lacus non purus ultricies, id molestie diam varius. Duis elementum tincidunt arcu nec fringilla. Aliquam non molestie erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus feugiat augue justo, sit amet ultricies neque vulputate ac. Curabitur non consectetur tellus. Curabitur porttitor est sit amet lorem laoreet dignissim vitae sed dolor.
      </div>
    </div>
  </div>
</section>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
